# Dhan
DHAN_CLIENT_ID=
DHAN_ACCESS_TOKEN=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Athena
ATHENA_DATABASE_PATH=data/athena.db
ATHENA_MODEL_PATH=athena_xgb_model.json
ATHENA_SCALER_PATH=athena_scaler.pkl